<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393655717301-e1p8m7pihq3vn7peo98ebclc2vd5k26v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393655717301-e1p8m7pihq3vn7peo98ebclc2vd5k26v</string>
	<key>API_KEY</key>
	<string>AIzaSyCJizqCg9X2Q4qoBWXhFOz6zGIo8TBT4Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>393655717301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Khalid.SwiftUI.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftui-todolist-78e6d</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-todolist-78e6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393655717301:ios:0397169bd494ae96c65dfc</string>
</dict>
</plist>